body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #7AEE3C;
}

.quem-somos{
    background-color: #3498DB;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: blueviolet ;
}

.bg-footer{
    background-color: black;
    color: white;
}